<span class="p-title">{{fa-icon "info" fixedWidth=true}} Spur IP Context Results</span>

{{#if details.as.number}}
  <div>
    <span class="p-key">ASN: </span>
    <span class="p-value">{{details.as.number}}</span>
  </div>
{{/if}}
{{#if details.as.organization}}
  <div>
    <span class="p-key">AS Organization: </span>
    <span class="p-value">{{details.as.organization}}</span>
  </div>
{{/if}}

{{#if details.infrastructure}}
<div>
  <span class="p-key">Infrastructure</span>
  <span class="p-value">{{details.infrastructure}}</span>
</div>
{{/if}}

<span class="p-title">{{fa-icon icon="map" fixedWidth=true}} Location</span>
{{#if details.location.city}}
  <div>
    <span class="p-key">City: </span>
    <span class="p-value">{{details.location.city}}</span>
  </div>
{{/if}}
{{#if details.location.country}}
  <div>
    <span class="p-key">Country: </span>
    <span class="p-value">{{details.location.country}}</span>
  </div>
{{/if}}
{{#if details.location.state}}
  <div>
    <span class="p-key">State: </span>
    <span class="p-value">{{details.location.state}}</span>
  </div>
{{/if}}

{{#if details.client}}
  {{#if details.client.behaviors}}
    <h1 class="p-title">{{fa-icon icon="desktop" fixedWidth=true}} Client </h1>
    <div>
      <div>
        <span class="p-key">Behaviors: </span>
        <span class="p-value">
        {{#each details.client.behaviors as |behavior|}}
          <span class="comma-list">{{behavior}}</span>
        {{/each}}
        </span>
      </div>
      <div>
        <span class="p-key">Proxies: </span>
        <span class="p-value">
        {{#each details.client.proxies as |proxy|}}
          <span class="comma-list">{{proxy}}</span>
        {{/each}}
        </span>
      </div>
      <div>
        <span class="p-key">Types: </span>
        <span class="p-value">
        {{#each details.client.types as |type|}}
          <span class="comma-list">{{type}}</span>
        {{/each}}
        </span>
      </div>
      <div>
        <span class="p-key">Count:</span>
        <span class="p-key">{{details.client.count}}</span>
      </div>
      <div>
        <span class="p-key">Countries:</span>
        <span class="p-key">{{details.client.countries}}</span>
      </div>
    </div>
  {{/if}}
{{/if}}

{{#if details.risks}}
  <h1 class="p-title">{{fa-icon icon="exclamation-triangle" fixedWidth=true}} Risks </h1>
  <div>
  {{#each details.risks as |risk|}}
    <span class="section-tag">{{risk}}</span>
  {{/each}}
  </div>
{{/if}}

{{#if details.services}}
  <h1 class="p-title">{{fa-icon icon="concierge-bell" fixedWidth=true}} Services </h1>
  <div>
    {{#each details.services as |service|}}
      <span class="section-tag">{{service}}</span>
    {{/each}}
  </div>
{{/if}}

{{#if details.tunnels}}
  <h1 class="p-title">{{fa-icon icon="archway" fixedWidth=true}} Tunnels </h1>
    {{#each details.tunnels as |tunnel|}}
      <div class="mb-2">
        <div>
          <span class="p-key">Operator:</span>
          <span class="p-value">{{tunnel.operator}}</span>
        </div>
        <div>
          <span class="p-key">Type:</span>
          <span class="p-value">{{tunnel.type}}</span>
        </div>
        <div>
          <span class="p-key">Is Anonymous:</span>
          <span class="p-value">{{if tunnel.anonymous "Yes" "No"}}</span>
        </div>
      </div>
    {{/each}}
{{/if}}


