{{#if (eq details.anonymous true)}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
     <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
     <span class="integration-text-color">Is Anonymity Provider</span>
  </span>
{{/if}}
{{#if details.as.organization}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
     <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
     <span class="integration-text-color">Organization: {{details.as.organization}}</span>
  </span>
{{/if}}
{{#if details.geoLite.city}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
     <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
     <span class="integration-text-color">GeoLite Country: {{details.geoLite.country}}</span>
  </span>
{{/if}}
{{#if details.geoPrecision.city}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
     <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
     <span class="integration-text-color">Precision Country: {{details.geoPrecision.country}}</span>
  </span>
{{/if}}
{{#if details.vpnOperators.operators}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
     <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
     <span class="integration-text-color">VPN Operator Count: {{details.vpnOperators.operators.length}}</span>
  </span>
{{/if}}
